<div class="containter">
    <div class=row>
        <div class="col-md-6 picAlign">
            <div class="hvrbox">
                <img src="/assets/images/me.jpeg" alt="Mountains" class="hvrbox-layer_bottom">
                <div class="hvrbox-layer_top">
                    <div class="hvrbox-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 picAlign">
            <div class="hvrbox">
                <img src="/assets/images/lisa.jpeg" alt="Mountains" class="hvrbox-layer_bottom">
                <div class="hvrbox-layer_top">
                    <div class="hvrbox-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.</div>
                </div>
            </div>
        </div>
    </div>
</div>